
<body style="background-color:rgb(26,25,25);">
   
    <section id="carrossel" class="container banner banner-a1">
        <div class="container-grid d-flex align-items-center justify-content-between posicionamento-banner">
      
        </div>
    </section>
    
    <section class="promoções">
      <div class="container d-flex justify-content-between align-items-center ">
        <h2> Categorias </h2>
     </div>
     </section>
        
        <section class="products-container">
        <div class="container products-container ">
    
                <div class="container card">
                  <div class="product-image" id="img1"></div>
                  <h3>Playstation </h3>
                  <p>frete grátis</p>
                  <p>R$ <span class="bold">4000,00</span></p>
                  <a href="#" class="btn"> Comprar</a>
                </div>

                <div class="container card">
                  <div class="product-image" id="img2"></div>
                  <h3>Playstation </h3>
                  <p>frete grátis</p>
                  <p>R$ <span class="bold">4000,00</span></p>
                  <a href="#" class="btn"> Comprar</a>
                </div>

                <div class="container card">
                  <div class="product-image" id="img3"></div>
                  <h3>Playstation </h3>
                  <p>frete grátis</p>
                  <p>R$ <span class="bold">4000,00</span></p>
                  <a href="#" class="btn"> Comprar</a>
                </div>


                <div class="card">
                  <div class="product-image" id="img4"></div>
                  <h3>notebook</h3>
                  <p>frete grátis</p>
                  <p>R$ <span class="bold">4000,00</span></p>
                  <a href="#" class="btn"> Comprar</a>
                </div>

                <div class="card">
                  <div class="product-image" id="img5"></div>
                  <h3>notebook</h3>
                  <p>frete grátis</p>
                  <p>R$ <span class="bold">4000,00</span></p>
                  <a href="#" class="btn"> Comprar</a>
                </div>

                <div class="card">
                  <div class="product-image" id="img6"></div>
                  <h3>notebook </h3>
                  <p>frete grátis</p>
                  <p>R$ <span class="bold">4000,00</span></p>
                  <a href="#" class="btn"> Comprar</a>
                </div>
          </div>
        </section> 
          
          
          
          <section class="promoções">
            <div class="container d-flex justify-content-between align-items-center ">
              <h2> Promoções </h2>
           </div>
           </section>



 <section class="products-container ">
  <div class=" container produtos products-container">

  <div class="card">
  <div class="product-image" id="img7"></div>
    <h3>jogos </h3>
    <p>frete grátis</p>
    <p>R$ <span class="bold">99,00</span></p>
    <a href="#" class="btn"> Comprar</a>
  </div>
  
  
  <div class="card">
    <div class="product-image" id="img8"></div>
    <h3>jogos </h3>
    <p>frete grátis</p>
    <p>R$ <span class="bold">99,00</span></p>
    <a href="#" class="btn"> Comprar</a>
  </div>
  
  <div class="card">
    <div class="product-image" id="img9"></div>
    <h3>jogos </h3>
    <p>frete grátis</p>
    <p>R$ <span class="bold">99,00</span></p>
    <a href="#" class="btn"> Comprar</a>
  </div>
</div>

</section>


 <section class="banner-dois">
    <div class="container d-flex justify-content-between align-items-center">
      <img src="/assets/img/COD-Modern-Warfare-Banner-PC.jpg 3.jpg" alt="">
   
    </div>
<app-footer></app-footer>