<header>
    <div class="container d-flex justify-content-between align-items-center posicionamento-cabecalho">
        <img src="/assets/img/logo.svg" alt="logotipo da aplicação Game mania">
        
        <nav id="menu" class="menu"> 
            <a routerLink="/login">Buscar Produtos</a>
            <a routerLink="/login">Cadastrar-se</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/login">Compras</a>
          </nav>
          <a onclick="mostrarMenu()" href="#" id="barras"><img class="icone-menu" src="/assets/img/bars-solid (1).svg" alt="logo do menu de barras"></a>
        </div>
</header>
